* {padding: 0; margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,
    Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

body {
    background-color: #FBEAEB;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

::-webkit-scrollbar-button {
background-color: #FBEAEB;
}

::-webkit-scrollbar {
    background-color: #FBEAEB;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow:  0 1 6px rgba(0,0,0,0.2);
}

.mainMe {
    width: 250px;
    height: 350px;
    border: 8px solid #f6f6f6;
    border-radius: 40% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(206, 108, 108, 0.2);
    animation: anim-mainMe 14s infinite;
}

@keyframes anim-mainMe {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(206, 108, 108, 0.2);
    }
    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(206, 108, 108, 0.2);
    }
    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}

#mainInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBEAEB;
    width: 1000px;
    height: 500px;
    padding: 20px;
}

#mainText {
    width: 100%;
}

h1 {
    margin-left: 50px;
    font-size: 50px;
}

.info {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 0px 10px 20px rgba(206, 108, 108, 0.2);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#aboutMyself {
    text-align: center;
    font-size: 30px;
    max-width: 1000px;
    margin-bottom: 200px;
}

.myself {
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(206, 108, 108, 0.2);
}

#hobby {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.hobby-list {
    list-style-image: url("red-heart.png");
    padding: 10px 10px 10px 50px;
    font-size: 30px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(206, 108, 108, 0.2);
}

#skills {
    margin-bottom: 200px;
}

.prog {
    max-width: 150px;
    max-height: 150px;
}

.move {
    animation: anim-move 3s infinite;
    max-width: 150px;
    max-height: 150px;
}

@keyframes anim-move {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

#materials {
    margin-bottom: 200px;
}

.learn-list {
    list-style-image: url("red-heart.png");
    padding: 10px 10px 10px 50px;
    font-size: 30px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(206, 108, 108, 0.2);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 100px;
    margin-bottom: 30px;
    font-size: 20px;
}

a:visited {
    color: black;
}

#number {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    box-shadow: -10px 10px 10px #f0d4d2;
}

#social {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 10px 10px #f0d4d2;
}

#mail {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #f0d4d2;
}

@media (max-width: 600px) {
    *{font-size: 20px; margin: 10px}

    header {
        margin-bottom: 100px;
    }

    .mainMe {
        width: 170px;
        height: 270px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    #mainInfo {
        display: flex;
        flex-direction: column;
        background-color: #FBEAEB;
        height: 500px;
        padding: 20px;
    }
    
    .info {
        font-size: 25px;
    }

    #contact {
        flex-direction: column;
        height: 200px;
    }

    #number {
        box-shadow: 0px 10px 10px #f0d4d2;
    }
    #social {
        width: 250px;
    }

    #mail {
        box-shadow: 0px 10px 10px #f0d4d2;
    }
    
}

@media (max-width: 800px) {
    *{margin: 10px}

    header {
        margin-bottom: 100px;
    }

    .mainMe {
        width: 170px;
        height: 270px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    #mainInfo {
        display: flex;
        flex-direction: column;
        background-color: #FBEAEB;
        height: 500px;
        padding: 20px;
        font-size: 20px;
    }

    .myself {
        font-size: 20px;
    }

    .info {
        font-size: 20px;
    }

    .hobby-list{
        font-size: 20px;
    }

    .learn-list {
        font-size: 20px;
    }

    footer{
        font-size: 20px;
    }

    #contact {
        flex-direction: column;
        height: 200px;
    }

    #number {
        box-shadow: 0px 10px 10px #f0d4d2;
    }
    #social {
        width: 250px;
    }

    #mail {
        box-shadow: 0px 10px 10px #f0d4d2;
    }
    
    .prog{
        width: 70px;
        height: 70px;
    }
    .move{
        width: 70px;
        height: 70px;
    }
}